body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color: black;
    color:whitesmoke;
    margin:0;
}
.container{
    width: 80%;
    margin: 5% auto;
}
.master, .bachelor, .exchange{
    display: flex;
    gap: 1rem;
    flex-direction: row;
    margin-top: 0;
    margin-bottom: 2rem;
}
.master > div, .bachelor > div, .exchange > div{
    flex: 1;
}
.master > .period, .bachelor > .period, .exchange > .period{
    text-align: center;
    border: 1px solid white;
    border-top: none;
    border-left: none;
    border-bottom: none;
}
.master > .description, .bachelor > .description, .exchange > .description{
    flex: 3;
    color: hotpink;   
}
ul{
    font-size: 14px;
    color: whitesmoke;
}
a{
    color: hotpink;
    text-decoration: none;
}
a:hover{
    background-color: white;
}
