body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color: black;
    color:whitesmoke;
    margin-top: 5%;
}
h2{
    color: hotpink;
    text-align: center;
}
.skills, .conference, .paper{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 1.5em;
}
.skills, .conference{
    border: 1px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
}
.skills > h2, .conference > h2, .paper > h2{
    flex: 1;
    padding: 2.5rem 1rem;
}
.skills > ul, .conference > ul, .paper > ul{
    flex: 3;
}
a{
    color: pink;
    text-decoration: none;
}
li{
    text-align: justify;
}
ul{
    list-style-type:square;
}

